:root{
    --mainBg: #242024;
    --redText: #E30220;
    --whiteText: white;
    --blackText: black;
    --redAccents: #E30220;
    --heroCarName: #6F6F6F;
    --navSelected: 3px #E30220 solid;
    --smallFont: 16px;
    --normFont: 20px;
    --bigFont: 40px;
    --vBigFont: 64px;
    --paragraphFont: 24px;
}

@font-face {
    font-family: 'Mont';
    src: url(Fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Bez';
    src: url(Fonts/Bezmiar-Regular.otf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Mont';
    background: var(--mainBg);
    overflow-x: hidden;
}

.headerContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

header{
    padding: 60px 120px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    animation: heroFader 500ms ease 4s forwards;
}

nav{
    color: var(--whiteText);
    font-size: var(--smallFont);
    font-weight: 700;
    display: flex;
    gap: 20px;
}

nav a{
    color: var(--whiteText);
    text-decoration: none;
    padding: 10px;
}

nav a:hover{
    border-bottom: 3px #e3022046 solid;
}

@keyframes heroFlicker {
    0%{
        opacity: 0;
    }

    32.9999%{
        opacity: 0;
    }

    33%{
        opacity: 1;
    }

    65.9999%{
        opacity: 0;
    }

    66%{
        opacity: 0;
    }

    99.9999%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}

@keyframes heroFader {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes btnSpin {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

model-viewer::part(default-progress-bar){
    display: none;
}

.navSelected{
    border-bottom: var(--navSelected);
}

#hero{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topBg{
    width: 100vw;
    height: 50vh;
    background: linear-gradient(0deg, #FFF 0%, #242024 96.44%);
    position: absolute;
    top: 0;
}

.bottomBg{
    width: 100vw;
    height: 50vh;
    background: radial-gradient(108.41% 108.41% at 50% 0%, #FFF 48.65%, #242024 91.83%);
    position: absolute;
    bottom: 0;
}

.circles{
    position: absolute;
    height: 100vh;
    top: 0;
    overflow: hidden;
    z-index: 90;
    width: 100%;
}

.outer, .inner1, .inner2{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.outer{
    animation: heroFlicker 200ms linear forwards;
}

.inner1{
    animation: heroFlicker 200ms linear 50ms forwards;
}

.inner2{
    animation: heroFlicker 200ms linear 100ms forwards;
}

.lines{
    animation: heroFlicker 200ms linear 150ms forwards;
}

.lines{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heroContent{
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 120px;
    box-sizing: border-box;
}

.carTitle{
    animation: heroFader 500ms ease 1s forwards;
    opacity: 0;
    margin-bottom: 250px;
}


.carStats{
    display: flex;
    justify-content: space-between;
    font-size: var(--bigFont);
    font-weight: 700;
    color: var(--redText);
}

.carName{
    font-family: 'Bez';
    font-size: 120px;
    color: var(--heroCarName);
    line-height: 75px;
}

.heroCar{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -35%);
    opacity: 0;
    animation: heroFader 1s linear 500ms  forwards;
}

#heroCar3d{
    width: 100%;
    height: 1000px;
}

.discoverBtn{
    font-size: var(--normFont);
    font-weight: 700;
    color: var(--redText);
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 60px;
    left: 120px;
    z-index: 99;
}

.btnArrow{
    position: relative;
    padding: 23px;
    margin-left: -15px;
}

.btnBg{
    position: absolute;
    left: 0;
    top: 0;
    animation: btnSpin 8s linear  infinite forwards;
    animation-play-state: paused;
}

.discoverBtn:hover .btnBg{
    animation-play-state: running;
}

.heroSocials{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    right: 60px;
}

#about{
    padding: 60px 120px;
}

.secTitle{
    font-size: var(--bigFont);
    font-family: 'Bez';
    color: var(--redText);
    display: flex;
    align-items: center;
    gap: 20px;
}

.titleLine{
    height: 3px;
    background-color: var(--redAccents);
    width: 100%;
    box-sizing: border-box;
}

.aboutContent{
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    margin: 100px auto 0 auto;
}

.aboutP{
    width: 45%;
    font-size: var(--paragraphFont);
    color: var(--whiteText);
    font-weight: 300;
}

.aboutStats{
    display: flex;
    gap: 100px;
    align-items: center;
    width: 45%;
}

.stat{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statNum{
    font-size: var(--vBigFont);
    font-weight: 700;
    color: var(--redText);
}

.statText{
    font-size: 36px;
    font-weight: 700;
    color: var(--whiteText);
}

.aboutTagline{
    font-size: 36px;
    font-weight: 700;
    color: var(--redAccents);
    text-align: center;
    margin-top: 100px;
}
