:root{
    --mainBg: #242024;
    --redText: #E30220;
    --whiteText: white;
    --blackText: black;
    --redAccents: #E30220;
    --heroCarName: #6F6F6F;
    --navSelected: 3px #E30220 solid;
    --smallFont: 16px;
    --normFont: 20px;
    --midFont: 32px;
    --bigFont: 40px;
    --cardFont: 48px;
    --vBigFont: 64px;
    --paragraphFont: 24px;
}

::-webkit-scrollbar{
    width: 3px;
}


::-webkit-scrollbar-thumb{
    background-color: var(--redAccents);
}


@font-face {
    font-family: 'Mont';
    src: url(Fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Bez';
    src: url(Fonts/Bezmiar-Regular.otf);
}

*{
    margin: 0;
    padding: 0;
}

body, html{
    overflow-y: auto;
    height: 100%;
}

html{
    scroll-behavior: smooth;
}


body{
    font-family: 'Mont';
    background: var(--mainBg);
    overflow-x: hidden;
}

.headerContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

header{
    padding: 60px 120px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    animation: heroFader 500ms ease 4s forwards;
}

nav{
    color: var(--whiteText);
    font-size: var(--smallFont);
    font-weight: 700;
    display: flex;
    gap: 20px;
}

nav a{
    color: var(--whiteText);
    text-decoration: none;
    padding: 10px;
    mix-blend-mode: difference;
}

nav a:hover{
    border-bottom: 3px #e3022046 solid;
}

@keyframes heroFlicker {
    0%{
        opacity: 0;
    }

    32.9999%{
        opacity: 0;
    }

    33%{
        opacity: 1;
    }

    65.9999%{
        opacity: 0;
    }

    66%{
        opacity: 0;
    }

    99.9999%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}

@keyframes heroFader {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes btnSpin {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

model-viewer::part(default-progress-bar){
    display: none;
}

.navSelected{
    border-bottom: var(--navSelected);
    mix-blend-mode: difference;
}

#hero{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99;
}

.topBg{
    width: 100vw;
    height: 50vh;
    background: linear-gradient(0deg, #FFF 0%, #242024 96.44%);
    position: absolute;
    top: 0;
    z-index: 99;
}

.bottomBg{
    width: 100vw;
    height: 50vh;
    background: radial-gradient(108.41% 108.41% at 50% 0%, #FFF 48.65%, #242024 91.83%);
    position: absolute;
    bottom: 0;
    z-index: 99;
}

.circles{
    position: absolute;
    height: 100vh;
    top: 0;
    overflow: hidden;
    z-index: 90;
    width: 100%;
    z-index: 99;
}

.outer, .inner1, .inner2{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.outer{
    animation: heroFlicker 200ms linear forwards;
}

.inner1{
    animation: heroFlicker 200ms linear 50ms forwards;
}

.inner2{
    animation: heroFlicker 200ms linear 100ms forwards;
}

.lines{
    animation: heroFlicker 200ms linear 150ms forwards;
}

.lines{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heroContent{
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 120px;
    box-sizing: border-box;
}

.carTitle{
    animation: heroFader 500ms ease 1s forwards;
    opacity: 0;
    margin-bottom: 250px;
}


.carStats{
    display: flex;
    justify-content: space-between;
    font-size: var(--bigFont);
    font-weight: 700;
    color: var(--redText);
}

.carName{
    font-family: 'Bez';
    font-size: 120px;
    color: var(--heroCarName);
    line-height: 75px;
}

.heroCar{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -35%);
    opacity: 0;
    animation: heroFader 1s linear 500ms  forwards;
}

#heroCar3d{
    width: 100%;
    height: 1000px;
}

.discoverBtn{
    font-size: var(--normFont);
    font-weight: 700;
    color: var(--redText);
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 60px;
    left: 120px;
    z-index: 99;
    text-decoration: none;
}

.btnArrow{
    position: relative;
    padding: 23px;
    margin-left: -15px;
}

.btnBg{
    position: absolute;
    left: 0;
    top: 0;
    animation: btnSpin 8s linear  infinite forwards;
    animation-play-state: paused;
}

.discoverBtn:hover .btnBg{
    animation-play-state: running;
}

.heroSocials{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    right: 60px;
}

#about{
    padding: 60px 120px;
    background-color: var(--mainBg);
    position: relative;
    z-index: 80;
}

.secTitle{
    font-size: var(--bigFont);
    font-family: 'Bez';
    color: var(--redText);
    display: flex;
    align-items: center;
    gap: 20px;
}

.secTitle2{
    font-size: var(--bigFont);
    font-family: 'Bez';
    color: var(--whiteText);
    display: flex;
    align-items: center;
    gap: 20px;
}

.titleLine{
    height: 3px;
    background-color: var(--redAccents);
    width: 100%;
    box-sizing: border-box;
}

.titleLine2{
    height: 3px;
    background-color: var(--whiteText);
    width: 100%;
    box-sizing: border-box;
}

.aboutContent{
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    margin: 100px auto 0 auto;
}

.aboutP{
    width: 45%;
    font-size: var(--paragraphFont);
    color: var(--whiteText);
    font-weight: 300;
}

.aboutStats{
    display: flex;
    gap: 100px;
    align-items: center;
    width: 45%;
}

.stat{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statNum{
    font-size: var(--vBigFont);
    font-weight: 700;
    color: var(--redText);
}

.statText{
    font-size: 36px;
    font-weight: 700;
    color: var(--whiteText);
}

.aboutTagline{
    font-size: 36px;
    font-weight: 700;
    color: var(--redAccents);
    text-align: center;
    margin-top: 100px;
}




#super{
    padding: 60px 120px;
    background: url(Images/superBg.png);
    height: 916px;
    box-sizing: border-box;
    background-position: center;
    position: relative;
    z-index: 80;
}

.introP{
    font-size: var(--midFont);
    color: var(--whiteText);
    font-weight: 200;
    text-align: center;
    margin-top: 48px;
}

.introContent{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
}

.introBtn{
    padding: 10px 75px;
    font-size: var(--midFont);
    font-weight: 600;
    color: var(--whiteText);
    background-color: var(--redAccents);
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.introBtn:hover{
    background-color: var(--whiteText);
    color: var(--redText);
}

#superCars{
    height: 100vh;
    position: relative;
    box-sizing: border-box;
}

#sCarSlider{
    display: flex;
    height: 100%;
    width: fit-content;
    /* transform: translateX(-100vw); */
}

.superCarsBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    pointer-events: none;
}

#scBg1{
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 70vw;
    z-index: 0;
    transition: all 300ms ease;
}

#scBg2{
    position: absolute;
    left: 0;
    top: 50px;
    width: 60%;
    transition: all 300ms ease;
}

#carText{
    transform: translateY(200px);
    transition: all 300ms ease;
}

#porsche, #i8{
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    padding: 60px 120px;
    width: 100vw;
}



.sCarName{
    font-family: 'Bez';
    font-size: var(--cardFont);
    color: var(--whiteText);
}

.model{
    font-family: 'Mont';
    font-size: var(--bigFont);
    color: var(--redText);
    font-weight: 700;
}

.sCarModel{
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0;
}

#porsche3d, #i83d{
    height: 100%;
    width: 100%;
}

#sCarStats{
    margin-top: 53px;
    display: flex;
    gap: 100px;
    opacity: 0;
    transition: all 300ms ease;
}

.engineStat{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 128px;
}

.statIcon{
    padding: 30px;
    background-color: var(--redAccents);
    border-radius: 90px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.statName{
    margin-top: 10px;
    font-size: var(--normFont);
    color: var(--redText);
    font-weight: 700;
}

.statNum2{
    margin-top: 20px;
    font-size: var(--bigFont);
    font-weight: 700;
    color: var(--whiteText);
    text-wrap: nowrap;
}

.metric{
    font-size: 10px;
    margin-left: -10px;
}